---
layout: default
title: OS 499 - Open Source Software Development Course @ U Waterloo
---

<article id='tldr-about-the-course'>
  <h1>What is this?</h1>
  {% capture about_the_course %}{% include about-the-course.md %}{% endcapture %}
  {{ about_the_course | markdownify }}
  <a href="/general-information">Read more...</a>
</article>

<article id='tldr-rationale'>
  <h1>Why do this?</h1>
  {% capture rationale %}{% include rationale.md %}{% endcapture %}
  {% capture rationale_md %}{{ rationale | markdownify }}{% endcapture %}
  <ol>
    {% for reason in rationale_md offset: 1 limit: 8 %}
      {{ reason }}
    {% endfor %}
  </ol>
  <a href="/general-information#rationale">Read more...</a>
</article>

<!-- TODO: Who made this, images, sponsor logos, etc. -->
