/* Default styles */

body {
  margin: 0 auto;
  font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

a, a:visited {
  color: #4082C3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Lucida Grande", Helvetica, sans-serif;
  margin-top: 0;
  padding-top: 0;
  font-size: 2em;
}

section {
  margin-bottom: 40px;
}

/* Header */

header {
  font-size: 1.5em;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px #AAA solid;
}

header #headings {
  margin-left: 25%;
}

header h1 {
  margin-bottom: 0px;
}

header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #666;
  font-variant: small-caps;
  font-size: 1.4em;
}

header a, header a:visited, header a:hover {
  text-decoration: none;
  color: #000;
}

header #uw_logo {
  padding-top: 10px;
  float: left;
  width: 23%;
}

header #uw_logo a {
  display: block;
  float: right;
  margin-right: 20px;
}

/* Navigation Bar */

nav {
  display: block;
  font-size: 1.2em;
  text-align: right;
  width: 23%;
  float: left;
}

nav ul, nav ol {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

nav li {
  line-height: 2;
}

nav li:hover {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  margin-top: -1px;
  margin-bottom: -1px;
}

nav a {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

nav a:hover {
  text-decoration: none;
  color: #666;
}

/* Specific content blocks */

time {
  color: #666;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: -1.5em;
  display: block;
}

div#main {
  width: 75%;
  margin-left: 25%;
  line-height: 1.5;
  padding-top: 5px;
  max-width: 800px;
}
