<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/default.css">
</head>
<body>

  <header>
    <a href="/">
      <div id="headings">
        <h1>OS 499</h1>
        <h2>Open Source Software Development</h2>
      </div>
    <a href="/">
    <div id="uw_logo">
      <a href="http://www.uwaterloo.ca/"><img src="/images/logo_uw.gif" width="204" height="43" alt="University of Waterloo"></a>
    </div>

  </header>

  <nav>
    <ul>
      <li><a href="/general-information.html">General Information</a></li>
      <li><a href="/project-showcase.html">Project Showcase</a></li>
      <li><a href="/course-information.html">Course Information</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>

  <div id="main" role="main">
    {{ content }}
  </div>

  <footer>

  </footer>

</body>
</html>
